################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Porfolio-Bi/FileContentIndex
/.vs/slnx.sqlite
/.vs/Porfolio-Bi/v17/.wsuo
